@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

@import "./variables";
@import "./nav";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 9px;
}

body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 152rem;
    margin: 0 auto;
    padding: 10px;
}

h1 {
    font-size: 9rem;
    line-height: 8.5rem;
    letter-spacing: -0.4rem;
    font-weight: 600;
    .highlight {
        font-size: 9.9rem;
    }
}

h2 {
    font-size: 5rem;
    line-height: 5rem;
    font-weight: 600;
    text-transform: capitalize;
}

h3 {
    font-size: 3rem;
    font-weight: 600;
}

p, li {
    font-size: 2.2rem;
}

a.btn {
    z-index: 100;
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: $white;
    font-size: 22px;
    text-transform: uppercase;
    padding: 24px 63px;
    margin: 10px auto;
    &::before {
        display: block;
        position: absolute;
        top: -4px;
        left: -4px;
        right: -4px;
        bottom: -4px;
        z-index: -3;
        content: "";
        background: linear-gradient(-90deg, $blue, $purple);;
    }
    &::after {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;
        content: "";
        width: 100%;
        height: 100%;
        background-color: $dark-blue;
    }
}

header {
    background-color: $dark-blue;
    position: relative;
    min-height: 1115px;
    color: $white;
    overflow: hidden;
    &::after {
        content: "";
        position: absolute;
        display: block;
        width: 881px;
        height: 881px;
        background: linear-gradient(177.23deg, rgba(66, 62, 224, 0.4) -13.49%, rgba(129, 45, 226, 0.4) 109.75%);
        filter: blur(150px);
        border-radius: 50%;
        bottom: -50%;
        transform: translateX(-50%);
    }
    &::before {
        content: "";
        position: absolute;
        display: block;
        width: 510px;
        height: 510px;
        background: linear-gradient(177.23deg, rgba(66, 62, 224, 0.4) -13.49%, rgba(129, 45, 226, 0.4) 109.75%);
        filter: blur(185.5px);
        border-radius: 50%;
        top: 0;
        right: 0;
        transform: translate(30%, -50%);
    }
    .container {
        padding-top: 100px;
        min-height: 1015px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        .content {
            width: 100%;
            max-width: 700px;
            text-align: center;
            p {
                margin: 26px 0 38px;
            }
        }
        .cards {
            width: 655px;
            height: 425px;
            position: relative;
            &::before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 610px;
                height: 350px;
                border-radius: 30px;
                background: url(../images/card-lg.png);
                background-repeat: no-repeat;
                background-position: center;
                box-shadow: 9px 9px 90px 0px $blue;
            }
            &::after {
                content: "";
                display: block;
                position: absolute;
                bottom: 0;
                right: 0;
                width: 214px;
                height: 266px;
                border-radius: 30px;
                background: url(../images/card-sm.png);
                background-repeat: no-repeat;
                background-position: center;
                box-shadow: 9px 9px 90px 0px $purple;
            }
        }
    }
}

.partners {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    :nth-child(1) {
        width: 236px; height: 60px;
        background-position: -10px -10px;
    }
    :nth-child(2) {
        width: 100px; height: 51px;
        background-position: -10px -90px;
    }
    :nth-child(3) {
        width: 119px; height: 30px;
        background-position: -10px -161px;
    }
    :nth-child(4) {
        width: 100px; height: 51px;
        background-position: -130px -90px;
    }
    div {
        background-image: url(../images/logo_sprites.png); 
    }
}

.highlight {
    background: linear-gradient(90deg, $blue, $purple);
    background-clip: text;
    color: transparent;
}

#consulting {
    text-align: center;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 34px;
        margin: 80px auto 175px;
        h2 {
            max-width: 725px;
        }
        p{
            max-width: 510px;
        }
        .image-wrapper {
            width: 100%;
            max-width: 960px;
            margin-top: 20px;
            position: relative;
            img {
                width: 100%;
            }
            &::before {
                z-index: -1;
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                right: -16px;
                bottom: -26px;
                background: linear-gradient(177.23deg, #423EE0 -13.49%, #812DE2 109.75%);
                filter: blur(45px);
                border-radius: 30px;
            }
        }
    }
}

#delivering {
    position: relative;
    background-color: $dark-blue;
    color: $white;
    z-index: -10;
    padding: 50px 20px 125px;
    overflow: hidden;
    &::after {
        content: "";
        position: absolute;
        display: block;
        width: 1050px;
        height: 1050px;
        background: linear-gradient(177.23deg, rgba(66, 62, 224, 0.4) -13.49%, rgba(129, 45, 226, 0.4) 109.75%);
        filter: blur(150px);
        border-radius: 50%;
        top: -50%;
        right: 0;
        transform: translateX(40%);
    }
    h2 {
        max-width: 665px;
        text-align: center;
        margin: 50px auto;
    }
    h3 {
        letter-spacing: -0.4rem;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .image-wrapper {
            border-radius: 30px;
            max-width: 360px;
            width: 100%;
            box-shadow: 9px 9px 90px 0px $purple;
            margin: 20px auto;
        }
        .content {
            max-width: 820px;
            padding: 0 70px;
            p {
                margin: 22px 0 80px;
            }
            ol {
                counter-reset: item;
                display: flex;
                flex-direction: column;
                gap: 80px;
                align-items: center;
                flex-wrap: wrap;
                li {
                    position: relative;
                    padding: 110px 0 33px;
                    display: inline-block;
                    text-align: center;
                    width: 198px;
                    height: 168px;
                    background-color: $light-dark-blue;
                    border-radius: 30px;
                
                    svg {
                        width: 70px;
                        height: 70px;
                        position: absolute;
                        top: 16px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                    &::before {
                        position: absolute;
                        bottom: -55%;
                        left: 50%;
                        transform: translateX(-50%);
                        display: inline-block;
                        content: counter(item) "";
                        counter-increment: item;
                        font-size: 9rem;
                        font-weight: 600;
                        background: linear-gradient(90deg, $blue, $purple);
                        background-clip: text;
                        color: transparent;
                    }
                    &::after {
                        display: block;
                        position: absolute;
                        top: -2px;
                        left: -2px;
                        right: -2px;
                        bottom: -2px;
                        z-index: -1;
                        content: "";
                        background: linear-gradient(-90deg, $blue, $purple);
                        border-radius: 30px;
                    }
                }
            }
        }
    }
}

#cases {
    position: relative;
    padding: 135px 10px 250px;
    h2 {
        margin: 0 auto 44px;
        text-align: center;
    }
    > p {
        text-align: center;
        margin-bottom: 136px;
    }
    .container {
        display: flex;
        justify-content: space-between;
        gap: 113px;
        align-items: center;
        flex-wrap: wrap;
        ul {
            display: flex;
            flex-direction: column;
            gap: 40px;
            margin: 0 auto;
            width: 100%;
            max-width: 485px;
            li {
                position: relative;
                text-align: center;
                list-style: none;
                max-width: 485px;
                width: 100%;
                padding: 43px 0;
                color: $white;
                background-color: $light-dark-blue;
                border-radius: 30px;
                &::after {
                    display: block;
                    position: absolute;
                    top: -2px;
                    left: -2px;
                    right: -2px;
                    bottom: -2px;
                    z-index: -1;
                    content: "";
                    background: linear-gradient(-90deg, $blue, $purple);
                    border-radius: 30px;
                }
            }
        }
        .content {
            color: $white;
            background: radial-gradient(circle at left bottom, rgba(40,28,100,1) 20%, rgba(18,17,57,1) 100%);
            width: 100%;
            max-width: 919px;
            padding: 50px 70px;
            border-radius: 30px;
            position: relative;
            &::before {
                z-index: 100;
                content: "";
                position: absolute;
                right: 0;
                top: 50%;
                transform: translate(50%, -50%);
                display: none;
                width: 325px;
                height: 590px;
                background: url(../images/mockup.png);
                background-repeat: no-repeat;
                background-position: center;
            }
            .btn {
                &::after {
                    z-index: -1;
                    background: linear-gradient(70deg, #281c64 70%, rgba(18,17,57,.9) 100%);
                }
            }
            p {
                margin: 60px 0;
                max-width: 480px;
            }
            img {
                position: absolute;
                transform: rotate(90deg) !important;
                width: 725px;
                left: 30%;
                top: 40%;
                opacity: 0.3;
            }
        }
    }
    &::after {
        content: "";
        position: absolute;
        display: block;
        width: 940px;
        height: 940px;
        background: linear-gradient(177.23deg, rgba(66, 62, 224, 0.71) -13.49%, #4829A5 109.75%);
        filter: blur(450px);
        border-radius: 50%;
        bottom: -50%;
        right: 0;
        transform: translate(50%, -50%);
    }
}

#finance {
    padding: 100px 10px 140px;
    background-color: $dark-blue;
    color: $white;
    position: relative;
    z-index: -1;
    overflow: hidden;
    h2 {
        text-align: center;
    }
    p {
        max-width: 850px;
        text-align: center;
        margin: 70px auto;
    }
    .content {
        position: relative;
        margin: 0 auto;
        width: 90%;
        height: 500px;
        display: flex;
        flex-direction: column;
        gap: 78px;
        &::before {
            content: url(../images/iMac.png);
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
        }
        li {
            position: absolute;
            text-align: center;
            list-style: none;
            max-width: 485px;
            width: 100%;
            padding: 43px 0;
            color: $white;
            background-color: $light-dark-blue;
            border-radius: 30px;
            &:nth-child(1) {
                top: 0;
                right: 0;
            }
            &:nth-child(2) {
                top: 250px - 59px;
                left: 0;
            }
            &:nth-child(3) {
                bottom: 0;
                right: 0;
            }
            &::after {
                display: block;
                position: absolute;
                top: -2px;
                left: -2px;
                right: -2px;
                bottom: -2px;
                z-index: -1;
                content: "";
                background: linear-gradient(-90deg, $blue, $purple);
                border-radius: 30px;
            }
        }
    }
    &::after {
        content: "";
        position: absolute;
        display: block;
        width: 1250px;
        height: 1250px;
        background: linear-gradient(177.23deg, rgba(66, 62, 224, 0.71) -13.49%, #4829A5 109.75%);
        filter: blur(450px);
        border-radius: 50%;
        bottom: 0;
        left: 0;
        transform: translate(-50%, 50%);
    }
}

footer {
    padding: 0 10px;
    background-color: $dark-blue;
    .container {
        padding: 131px 0;
        p, a{
            font-size: 16px;
            color: $white;
            text-decoration: none;
        }
        .footer-table {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 30px 0 85px;
            border-bottom: #71777D 1px solid;
            .col{
                display: flex;
                flex-direction: column;
                a {
                    line-height: 40px;
                }
                p {
                    color: #92989F;
                    font-weight: 600;
                }
                &:not(:last-child) {
                    width: 191px;
                }
                &:last-child {
                    width: 400px;
                }
            }
        }
        .copyright {
            margin: 31px auto;
            text-align: center;
            font-size: 12px;
            color: #92989F;
        }
    }
}

@media(min-width:901px) {
    #delivering {
        .container {
            .content {
                ol {
                    flex-direction: row;
                    gap: 40px;
                }
            }
        }
    }
    #cases {
        .container {
            .content {
                padding: 280px 70px;
                &::before {
                    display: block;
                }
            }
        }
    }
}

@media(min-width:1440px) {
    .container {
        padding: 0;
    }
    #delivering {
        .container {
            justify-content: space-between;
        }
        h2 {
            margin: 125px auto 150px;
        }
        .image-wrapper {
            margin: 0 auto;
        }
    }
    #finance {
        .content {
            position: relative;
            margin: 0 auto;
            width: 1170px;
            &::before {
                opacity: 1;
            }
        }
    }
}

@media(min-width:1540px) {
    html {
        font-size: 10px;
    }
    header {
        .container {
            justify-content: space-between;
            .content {
                text-align: left;
            }
        }
    }
    #cases {
        .container {
            ul {
                gap: 78px;
                margin: 0;
            }
        }
    }
}